<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!--
<div class="text-center" *ngIf="questions">
  <h3>{{ questions[(config.currentPage - 1) * config.itemsPerPage].question }}</h3>

  <ul style=" list-style-type: none; border: 1px solid #ccc;
  padding: 10px;" class="">
      <li style=" background-color: #f5f5f5;
      padding: 10px;
      border: 1px solid #ccc;" class="text-center m-2"
          *ngFor="let option of questions[(config.currentPage -1) * config.itemsPerPage].options">
          <button class="btn btn-secondary" (click)="checkAnswer(option)">{{ option }}</button>
      </li>
  </ul>

  <p>Your score: {{ score }}</p>
  <button class="btn btn-success m-2" (click)="nextPage()" [disabled]="isLastPage()">Next</button>
  <button class="btn btn-danger" (click)="previousPage()" [disabled]="isFirstPage()">Previous</button>
</div> -->
